<footer class="bg-light mt-5">
  <hr class="w-100 bg-secondary m-0">

  <div class="container-fluid d-flex flex-column flex-md-row justify-content-center align-items-center py-3">
    <p class="text-secondary text-center m-0">
      This website is made by <strong>Wanderlust</strong>. &copy; All rights reserved.
    </p>
  </div>
</footer>
